# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Data & models
/data/*
!/data/processed/.gitkeep
/models/

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Secrets
secrets.yaml
